
@media screen and (max-width: 767px) {
  .logoAinhoa {
    height: 5vh !important;
  }
}

/* Media query para dispositivos grandes */
@media screen and (min-width: 768px) {
  .logoAinhoa {
    height: 10vh  !important;
  }
  .section, .section-t-space {
    padding-top: 40px !important;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1367px) {
  .navLinkInicio {
    display: none !important;
  }
}
/* @media only screen and (min-width: 1367px) {
  .productsMenuItem {
    margin-right: 1.5rem;
  }
} */

.productsMenuItem {
  margin-right: 1rem;
}

.hiddenDivFoot{
  visibility: hidden;
}

.imageProductCursorPointer{
  cursor: pointer !important;
}

.descapitalize {
  text-transform: lowercase !important;
}
.descapitalize:first-letter {
  text-transform: uppercase;
}